APP_SECRET_KEY=
DATABASE_URL=

ADMIN_USERNAME=
ADMIN_PASSWORD=

SOC_BASE_URL=
SOC_EMPRESA=
SOC_WS_USUARIO=
SOC_WS_PASSWORD=

SOC_EMPRESAS_CODIGO=
SOC_EMPRESAS_CHAVE=

SOC_INCONSISTENCIAS_GERAIS_CODIGO=
SOC_INCONSISTENCIAS_GERAIS_CHAVE=

SOC_INCONSISTENCIAS_2240_CODIGO=
SOC_INCONSISTENCIAS_2240_CHAVE=
